* {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    height: 100px;
}

header div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.phone {
    display: flex;
    gap: 3px;
}

.phone img {
    width: 5%;
}

.phone p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo img {
    width: 50%;
}

.cons button{
    padding: 8px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}