* {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: space-around;
}

.phone {
    display: flex;
    gap: 3px;
}

.phone img {
    width: 3%;
}

.phone p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}